{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">User index</h1>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Allowed</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                    <td>
                        <div class="mdc-switch">
                            <div class="mdc-switch__track"></div>
                            <div class="mdc-switch__thumb-underlay">
                                <div class="mdc-switch__thumb">
                                    {% set value = "" %}
                                    {% if user.Allowed == 1 %}
                                        {% set value = "checked" %}
                                    {% endif %}
                                    <input {{value}} type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch" onclick="test(this)" user-id="{{user.id}}">
                                </div>
                            </div>
                        </div>
                        <label for="basic-switch">no/yes</label>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- <a href="{{ path('user_new') }}">Create new</a> -->

    <script>
            function test(el) {
                console.log(el.checked, el.getAttribute("user-id"));
                timer(el);
            }

            let time;
    
            function timer(el) {
                clearTimeout(time);
    
                time = setTimeout(() => {
    
                    window.location.href = `/user/allow/${el.getAttribute("user-id")}/${el.checked}`;
    
                }, 0);
            }
        </script>
{% endblock %}
